<div class="text-center">
  <button id="btnHistorial" type="button" class="btn btn-secondary" (click)="toggleButton()">
    Historial
  </button>

  <button id="btnHistorial" type="button" class="btn btn-secondary" *ngIf="!vacio" (click)="borrarHistorial()">
    Borrar Historial
  </button>
</div>
<br>

<span *ngIf="historialVisible">
  <div class="card-header" style="text-align: center; font-size: 20px;">Historial</div>
  <div *ngIf="vacio" class="text-center">
    No hay historial.
  </div>

  <div *ngIf="!vacio">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let entry of historialEntries; index as i">
        <div class="card">
          
          <div style="cursor: pointer;" class="card-header" data-toggle="collapse" [attr.data-target]=" '#' + i">
              {{ entry.state }}, {{ entry.country }}
          </div>
          
          <div [id]="i" class="collapse in">
            <div class="card-body">
              <b>Latitud: </b>{{ entry.latitud }} <br>
              <b>Longitud: </b>{{ entry.longitud }} <br>
              <b>Temperatura: </b>{{ entry.temperatura }} <br>
              <b>Temperatura Máxima: </b>{{ entry.maxTemperatura }} <br>
              <b>Temperatura Minima: </b>{{ entry.minTemperatura }} <br>
              <b>Fecha de Consulta: </b>{{ entry.time }} <br>
            </div>
          </div>

        </div>
        <br>
      </li>
    </ul>
  </div>
</span>